{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/CSS/bookings.css">
{% endblock %}
{% block title %}Réserver l'annonce {% endblock %}

{% block body %}



    <div class="container py-5">
        <div class="row text-center text-white mb-5">
            <div class="col-lg-7 mx-auto">
                <h1 class="display-4">Listes de vos réservation</h1>
            </div>
        </div>
        <div class="row">
            {% for booking in app.user.bookings %}
                {% set ad = booking.ad %}
                <div class="col-lg-12 mx-auto">
                    <!-- List group-->
                    <ul class="list-group shadow">
                        <!-- list group item-->
                        <li class="list-group-item">
                            <!-- Custom content-->
                            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                                <div class="media-body order-2 order-lg-1">
                                    <h5 class="mt-0 font-weight-bold mb-2">{{ ad.title }}</h5>
                                    <h6>Réservation N° <strong>{{ booking.id }} </strong></h6>
                                    <p class="font-italic text-muted mb-2 small">
                                        Du {{ booking.startDate| date('d/m/Y') }}
                                        au {{ booking.endDate| date('d/m/Y') }}
                                        <strong>({{ booking.amount| number_format(2, ',', ' ') }}) €</strong>
                                    </p>
                                    <a href="{{ path('booking_show', {'id': booking.id}) }}"
                                       class="btn btn-info sm">Voir l'annonce</a>

                                    <div class="d-flex align-items-center justify-content-between mt-1">
                                        <h6 class="font-weight-bold my-2">{{ booking.amount| number_format(2, ',', ' ') }}
                                            €</h6>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <img src="{{ ad.coverImage }}" width="200"
                                         class="ml-lg-5 order-1 order-lg-2 img-thumbnail" alt="{{ ad.title }}">
                                    <div class="container ml-5">
                                        {% set comment = ad.commentFromAuthor(app.user) %}
                                        {% if comment is not null %}
                                            <strong> Note
                                                : </strong>{% include'shared/rating.html.twig' with {'rating': comment.rating} %}

                                        {% else %}

                                            <blockquote>Vous n'avez pas encore donner de note.</blockquote>
                                            <a href="{{ path('booking_show', {'id': booking.id}) }}#comment">
                                                <button class="btn btn-primary btn-sm">Je donne mon avis</button>
                                            </a>
                                        {% endif %}

                                    </div>

                                </div>

                            </div> <!-- End -->
                        </li> <!-- End -->

                    </ul> <!-- End -->
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}