{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/CSS/bookingForm.css">
{% endblock %}
{% block title %}Réserver l'annonce {% endblock %}

{% block body %}

    <div class="container">
        <h1 class="h1">Réserver pour l'annonce : {{ ad.title }}</h1>
    </div>

    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form text-white">
                        <div class="form-header">
                            <h1>Informations de réservation</h1>
                        </div>
                        <form>
                            {{ form_start(form) }}
                            <div class="form-group"><input class="form-control" type="text"
                                                           placeholder="Country, ZIP, city..."> <span
                                        class="form-label">Destination</span></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_row(form.startDate) }}
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        {{ form_row(form.endDate) }}
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group"><select class="form-control" required>
                                            <option value="" selected hidden>no of rooms</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select> <span class="select-arrow"></span> <span
                                                class="form-label">Rooms</span></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group"><select class="form-control" required>
                                            <option value="" selected hidden>no of adults</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select> <span class="select-arrow"></span> <span
                                                class="form-label">Adults</span></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group"><select class="form-control" required>
                                            <option value="" selected hidden>no of children</option>
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                        </select> <span class="select-arrow"></span> <span
                                                class="form-label">Children</span></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group"><input class="form-control" type="email"
                                                                   placeholder="Enter your Email"> <span
                                                class="form-label">
                                            Email</span></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group"><input class="form-control" type="tel"
                                                                   placeholder="Enter you Phone"> <span
                                                class="form-label">Phone</span></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form_row(form.comment) }}
                                </div>

                            </div>
                            <div class="form-btn">
                                <button type="submit" class="submit-btn">Réserver</button>
                            </div>
                            {{ form_end(form) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
