{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/CSS/bookingForm.css">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Medula+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

{% endblock %}
{% block title %}Réserver l'annonce {% endblock %}

{% block body %}
    {% set ad = booking.ad %}
    {% set author = ad.author %}

    <div class="container">
        <h1 class="h1">Votre réservation n°: {{ booking.id }}</h1>
    </div>
    {% if app.request.query.get('withAlert') %}

        <div class=" container alert alert-success alert-dismissible fade show" role="alert">
            <strong>Bravo !</strong> Votre réservation auprés de <a
                    href="{{ path('user_show', {'slug': author.slug}) }}"><strong>{{ author.fullName }} </strong></a>Pour
            l'annonce
            <a href="{{ path('ads_show', {'slug': ad.slug}) }}"><strong>{{ ad.title }} </strong></a> a été prise en
            compte !
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    {% endif %}

    <div class="container wrapper bg-white">

        <div class="row">

            <div class="col">
                <div class="alert- alert-light">
                    <h2 class="h2">Votre hébergement</h2>
                    <h4 class="alert alert-heading"><a
                                href="{{ path('ads_show', {'slug': ad.slug}) }}"> {{ ad.title }}</a></h4>
                    <img class="img-thumbnail" src="{{ ad.coverImage }}">
                    <div class="container">
                        {{ ad.content | raw }}
                        <a class="btn btn-primary" href="{{ path('ads_show', {'slug': ad.slug}) }}">Plus d'infos !</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="alert- alert-light card ">
                    <h2 class="h2">Détails</h2>
                    <dl class="row h5 text-info card-header ">
                        <dt class="col-md-4 h5 ">Numéro</dt>
                        <dd class="col-md-8 ">{{ booking.id }}</dd>
                        <dt class="col-md-4 h5 ">Date d'arrivée</dt>
                        <dd class="col-md-8">{{ booking.startDate | date('d/m/Y') }}</dd>
                        <dt class="col-md-4 h5 ">Date de départ</dt>
                        <dd class="col-md-8">{{ booking.endDate | date('d/m/Y') }}</dd>
                        <dt class="col-md-4 h5 ">Nombre de nuits</dt>
                        <dd class="col-md-8">{{ booking.duration }}</dd>
                        <dt class="col-md-4 h5 ">Montant total</dt>
                        <dd class="col-md-8">{{ booking.amount }} &euro;</dd>
                        <dt class="col-md-4 h5 ">Commentaire</dt>
                        <dd class="col-md-8">{{ booking.comment | default('Aucun commentaire') }}</dd>
                    </dl>
                    <hr>
                    <h2 class="h2">Votre hôte </h2>
                    <div class="row  card-header">
                        <div class="col-3 ">
                            <a href="{{ path('user_show', {'slug': author.slug}) }}">
                                <img class="avatar  rounded-circle" src="{{ author.picture }}"
                                     alt="{{ author.fullName }}"></a>
                        </div>
                        <div class="col-9">
                            <a href="{{ path('user_show', {'slug': author.slug}) }}"><h3
                                        class="">{{ author.fullName }}</h3></a>
                            <span class=" badge badge-primary"> {{ author.ads | length }} annonces</span>
                        </div>
                    </div>
                    <div class="container">
                        {{ author.description | raw }}
                        <a class="btn btn-primary" href="{{ path('user_show', {'slug': author.slug}) }}">Plus d'infos
                            sur {{ author.firstName }} !</a>
                    </div>
                </div>
            </div>
            <div class="container" id="comment">
                <h2 class="h2">Votre avis compte !</h2>
                {% if date() > date(booking.endDate) %}

                {% set comment = booking.ad.commentFromAuthor(app.user) %}

                {% if comment is not null %}
                <blockquote>
                    {{ comment.content }}

                </blockquote>
                <strong>Note : </strong>{% include 'shared/rating.html.twig' with {'rating': comment.rating} %}

                {% else %}
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#form">Laisser un
                    commentaire ?
                </button>
                <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="text-right cross"><i class="fa fa-times mr-2"></i></div>
                            <div class="card-body text-center"><img class="img-thumbnail" src="{{ ad.coverImage }}"
                                                                    height="100" width="100">
                                <div class="comment-box text-center">
                                    <h4>Add a comment</h4>
                                    {{ form_start(form) }}
                                    <div class="rating">

                                        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                                    </div>
                                    {{ form_row(form.rating) }}
                                    {{ form_row(form.content) }}

                                </div>
                                <div class="text-center mt-4">
                                    <button type="submit" class="btn btn-success send px-5">Send message <i
                                                class="fa fa-long-arrow-right ml-1"></i></button>
                                    <button type="button" id="close" class="btn btn-danger ">Annuler</button>
                                </div>
                                {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% else %}
                <p>Vous ne pourez pas noter cette annonce tant que votre voyage ne sera pas complet !</p>

            {% endif %}

        </div>

    </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            // Open modal on page load
            // $("#form").modal('show');

            // Close modal on button click
            $("#close").click(function () {
                $("#form").modal('hide');
            });
        });
    </script>
{% endblock %}