{% extends 'admin/base.html.twig' %}

{% block title %}Commentaires {% endblock %}

{% block body %}
    <div class="wrapper bg-white">
        {{ form_start(form) }}
        <div class="h2 text-center">Administration</div>
        <div class="h4 text-muted text-center pt-2">Commentaires de {{ comment.author.fullName }}</div>
        <form class="pt-3">
            <div class=" bg-light">
                <p><strong>Annonce liée :</strong> <span>{{ comment.ad.title }}</span></p>
                <p><strong>Auteur du commentaire :</strong> <img class="rounded-circle"
                                                                 src="{{ comment.author.picture }}" width="30"><span
                            class="ml-2">{{ comment.author.fullName }}</span></p>
                <p><strong>Note donnée : </strong> {{ form_row(form.rating, { 'label': false, 'attr': {'class': 'hidden-row'} })  }}</p>
            </div>
            <div class="form-group py-1 pb-2">
                {{ form_row(form.content, {'label': 'Contenudu commentaire :'}) }}
            </div>
            <div class="d-flex align-items-start">
                <button type="submit" class="btn btn-block text-center my-3"><i class="fas fa-check-circle"></i>
                    Enregistrer les modifications
                </button>
            </div>
            {{ form_end(form) }}
        </form>

    </div>
{% endblock %}