{% set url = path('ads_show', { 'slug': ad.slug}) %}
<div class="col-md-4">
    <div class="card  mb-3">
        <div class="card-header text-center">
            <p>
                {% if app.user and app.user == ad.author %}
                    <a href="{{ path('ads_edit', {'slug': ad.slug}) }}" class="btn btn-dark"><i class="fas fa-cogs"></i></a>
                {% endif %}
                {{ ad.rooms }} chambres <i class="fas fa-restroom"></i>, <strong>{{ ad.price }}&euro; /nuit</strong></p>
            <p><small>Pas encore noté </small></p>
        </div>
        <a href="{{ url }}">
            <img class="img-thumbnail rounded" src="{{ ad.coverImage }}" alt="Image de l'appartement"
                 style="height: 200px; width: 100%; display: block">
        </a>

        <div class="card-body">
            <a href="{{ url }}">
                <h4 class="card-title">
                    {{ ad.title }}
                </h4>
            </a>
            <p class="card-text">
                {{ ad.introduction }}
            </p>
            <a href="{{ url }}" class="btn btn-secondary">En savoir
                plus !</a>

        </div>
    </div>
</div>
