{% extends 'base.html.twig' %}

{% block title %}
    {{ ad.title }}
{% endblock %}

{% block body %}
    <div class="my-title m-0 p-0" style="background-image: url({{ ad.coverImage }})">
        <div class=" ad-title text-center">
            <h1 class="h1 text-white ad-title">{{ ad.title }}</h1>
            <p>{{ ad.introduction }}</p>
            <p class="h2 ad-title">
                <strong>{{ ad.rooms }} chambres</strong> pour <strong>{{ ad.price }}&euro;</strong> par nuit
            </p>
            <a href="{{ path('booking_create', {'slug': ad.slug}) }}" class="btn btn-primary btn-lg rounded"><i
                        class="fab fa-cc-visa"></i> Réserver !</a>

            {% if app.user and app.user == ad.author %}
                <a href="{{ path('ads_edit', {'slug' : ad.slug}) }}" class="btn btn-secondary btn-sm"><i
                            class="fas fa-tools"></i> Modifier</a>
                <a type="button" class="btn btn-danger btn-sm text-white" data-toggle="modal"
                   data-target="#exampleModal"><i class="fas fa-trash-alt"></i> Supprimer</a>

            {% endif %}

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="container d-flex pl-0"><i class="fas fa-trash-alt"></i>
                                <h5 class="modal-title ml-2" id="exampleModalLabel"><i
                                            class="fas fa-trash-alt"></i>
                                    Supprimer l'annonce ?</h5>
                            </div>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <p class="text-muted">Si vous supprimez, l'annonce {{ ad.title }} disparaîtra
                                pour
                                toujours. Êtes-vous
                                sur de vouloir continuer?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Annuler
                            </button>
                            <a href="{{ path('ads_delete', {'slug': ad.slug}) }}" class="btn btn-danger">

                                <button type="button" class="btn btn-danger"><i
                                            class="fas fa-trash-alt"></i>
                                    Supprimer
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#
    <a href="{{ path('ads_delete', {'slug': ad.slug}) }}" class="btn btn-danger"
       onclick="return confirm(`Ëte vous sur de vouloir supprimer l'annone: {{ ad.title }} ?`)">
       <i class="fas fa-trash-alt"></i>
        Supprimer cette annonce </a>
    #}

    <div class="container">
        <div class="row ">
            <div class="col-md-8 mb-3">
                {{ ad.content | raw }}

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for image in ad.images %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}"
                                {% if loop.first %}class="active" {% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for image in ad.images %}
                            <div class="carousel-item {% if loop.first %}active {% endif %}">
                                <img src="{{ image.url }}" class="d-block w-100 img-thumbnail" alt="Images Annonces">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{ ad.title }}</h5>
                                    <p>{{ image.caption }}</p>
                                </div>

                            </div>
                        {% endfor %}

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <hr>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col text-center mb-5">
                            <div class="card rating_square">
                                <div class="row justify-content-left d-flex">
                                    <div class="col-md-4 d-flex flex-column">
                                        <div class="rating-box">
                                            <h2 class="pt-4 h4">{{ ad.avgRatings| number_format(2) }}/5</h2>
                                            <small>(Nombre d'avis: {{ ad.comments| length}})</small>
                                        </div>
                                        {% if ad.comments|length > 0 %}
                                        <div class="container">
                                            {% include 'shared/rating.html.twig' with {'rating': ad.avgRatings} %}

                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col">
                                        <div class="rating-bar0 justify-content-center">
                                            <table class="text-left mx-auto">
                                                <tr>
                                                    <td class="rating-label">Excellent</td>
                                                    <td class="rating-bar">
                                                        <div class="bar-container">
                                                            <div class="bar-5"></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-right">123</td>
                                                </tr>
                                                <tr>
                                                    <td class="rating-label">Good</td>
                                                    <td class="rating-bar">
                                                        <div class="bar-container">
                                                            <div class="bar-4"></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-right">23</td>
                                                </tr>
                                                <tr>
                                                    <td class="rating-label">Average</td>
                                                    <td class="rating-bar">
                                                        <div class="bar-container">
                                                            <div class="bar-3"></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-right">10</td>
                                                </tr>
                                                <tr>
                                                    <td class="rating-label">Poor</td>
                                                    <td class="rating-bar">
                                                        <div class="bar-container">
                                                            <div class="bar-2"></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-right">3</td>
                                                </tr>
                                                <tr>
                                                    <td class="rating-label">Terrible</td>
                                                    <td class="rating-bar">
                                                        <div class="bar-container">
                                                            <div class="bar-1"></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-right">0</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                {% if ad.comments|length > 0 %}
                    {% for comment in ad.comments %}
                        <div class=" bg-light rounded mb-3 py-3 px-3">
                            <a href="{{ path('user_show', {'slug': comment.author.slug}) }}">
                                <img class="avatar-medium rounded-circle" src="{{ comment.author.picture }}" alt="{{ comment.author.fullName }}"
                                     width="36px"/> <strong>{{ comment.author.fullName }}: </strong>
                            </a>
                            {% include 'shared/rating.html.twig' with {'rating': comment.rating} %}
                            <blockquote>{{ comment.content }}</blockquote>
                        </div>

                    {% endfor %}

                {% else %}
                    <div class="alert alert-info">
                        <h5 class="h5">Cette annonce n'a pas encore reçu de commentaire.</h5>
                    </div>
                {% endif %}
            </div>

            <div class="container mb-3 d-flex justify-content-center col-md-4 align-items-start">
                <div class="card rounded">
                    {% set a = ad.author %}
                    <div class=" d-block justify-content-center">
                        <div class="area1 p-3 py-5 text-center"><h5 class=" h5 mb-4"> {{ a.ads| length }} annonces</h5>
                        </div>
                        <div class="area2 p- text-center px-3">
                            <div class="image mr-3  ">
                                <a href="{{ path('user_show', {'slug': a.slug}) }}">
                                    <img src="{{ a.picture }}" class="rounded-circle" width="100"
                                         alt="avatar de {{ a.fullName }}"/>
                                </a>
                                <a href="{{ path('user_show', {'slug': a.slug}) }}">
                                    <h4 class=" name mt-3 ">{{ a.fullName }}</h4></a>
                                <p class="information mt-3 text-justify"> {{ a.description |raw }} </p>
                                <div class="d-flex justify-content-center mt-4">
                                    <ul class="list-icons">
                                        <li class="facebook"><i class="fab fa-facebook-square"></i></li>
                                        <li class="youtube"><i class="fab fa-youtube-square"></i></li>
                                        <li class="instagram"><i class="fab fa-instagram"></i></li>
                                        <li class="whatsapp"><i class="fab fa-whatsapp-square"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}